$font-stack: Helvetica, sans-serif;
$primary-font-color: white;

body {
  background-image: url('../assets/images/portland.jpeg');
  font: 100% $font-stack;
  color: $primary-font-color;
}

#doctorRefresh {
  display: none;
}
